{% include "top_info.html" %}
<form id="video-form" method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <input type="submit" value="Change info">

</form>
<form id="video-form-delete" method="post">
    {% csrf_token %}
    <button type="button" id="delete">Delete Video</button>
    <input type="hidden" id="delete-input" name="delete" value="delete">
</form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('delete').addEventListener('click', function () {
            if (confirm('Are you sure you want to delete this video?')) {
                // Set a hidden input value to indicate deletion
                document.getElementById('delete-input').value = 'delete';
                // Submit the form
                document.getElementById('video-form-delete').submit();
            }
        });
    });
</script>
