<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <h1>Video Hosting</h1>
</header>
<nav>
    {% if user.is_authenticated %}
        <a href="/user/logout/">Log Out</a>
    {% else %}
        <a href="/user/login/">Login</a>
    {% endif %}
    <a href="/user/register">Sign up</a>
    {% if user.is_authenticated %}
        <a href="/user/videos/{{ user.username }}">User channel</a>
        <a href="/upload/">Upload Video</a>
        <a href="/user/">Change user info</a>
        <a href="/playlists/{{ user.id }}/">Your Playlists</a>
        <a href="/playlists/create/">Create new playlist</a>
        <a href="/user/history/{{ user.id }}/">History</a>
    {% endif %}
    <a href="/">Back to all videos</a>
<a href="/search/">Search videos</a>
</nav>

</body>
</html>
