{% extends 'top_info.html' %}

{% block content %}
{{ user.username }}<br>
<a href="/user/followers/{{ user.id }}/">Followers: {{ user.followers_count }}</a>
<a href="/user/followings/{{ user.id }}/">Followings: {{ user.followings_count }}</a><br>
<a href="/playlists/{{ user.id}}/">Chanel playlists</a>
{% for video in videos %}
    <a href="/video/{{ video.name }}/"><img src="{{ video.thumbnail.url }}" alt="{{ video.name }}" width="300p"
                                            height="150p"></a>
    {% if user_id == video.user_id %}
        <a href="{% url 'edit_video' video.id user_id %}">Edit video</a>
    {% endif %}
{% endfor %}
{% endblock %}