<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://malsup.github.io/jquery.form.js"></script>
    <script>
        $(document).ready(function () {
            // Submit form on comment submit
            $('#commentForm').submit(function (event) {
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: $(this).attr('action'),
                    data: formData,
                    success: function (response) {
                        $('#comments-container').html(response.comments_html);
                        // Update comments count
                        $('#comments-count').text('Comments Count: ' + response.comments_count);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });

            // Like button click event
            $('button[name="action"][value="like"]').click(function () {
                var videoName = "{{ video.name }}";
                $.ajax({
                    type: 'POST',
                    url: '/' + videoName + '/',
                    data: {action: 'like', csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success: function (response) {
                        // Update like count
                        $('button[name="action"][value="like"]').text('Like: ' + response.likes);
                        $('button[name="action"][value="dislike"]').text('Dislike: ' + response.dislikes);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });

            // Dislike button click event
            $('button[name="action"][value="dislike"]').click(function () {
                var videoName = "{{ video.name }}";
                $.ajax({
                    type: 'POST',
                    url: '/' + videoName + '/',
                    data: {action: 'dislike', csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success: function (response) {
                        // Update dislike count
                        $('button[name="action"][value="like"]').text('Like: ' + response.likes);
                        $('button[name="action"][value="dislike"]').text('Dislike: ' + response.dislikes);
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });
            $('button[name="action"][value="follow"]').click(function () {
                var videoName = "{{ video.name }}";
                $.ajax({
                    type: 'POST',
                    url: '/' + videoName + '/',
                    data: {action: 'follow', csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success: function (response) {
                        // Update dislike count
                        $('button[name="action"][value="follow"]').text('follow: ' + response.follow_count);

                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    }
                });
            });
            $(document).ready(function () {
                $('#add-to-playlist-btn').click(function () {
                    var playlistSlug = $('#playlist-select').val();
                    var videoId = {{ video.id }};
                    $.ajax({
                        type: 'POST',
                        url: '/playlists/add/' + playlistSlug + '/' + videoId + '/',
                        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
                        success: function (response) {
                            alert('Video added to playlist successfully.');
                            // You can perform additional actions after adding the video to the playlist if needed
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                            alert('An error occurred while adding the video to the playlist.');
                        }
                    });
                });
            });

        });
    </script>

</head>
<body>
    {% include "top_info.html" %}
<div>
    <video controls="controls" width="640" height="360" poster="{{ video.thumbnail.url }}"
           src="{{ video.video.url }}">
        <source src="{{ video.video.url }}" type="{{ video.video_content_type }}">
        Your browser does not support the video tag.
    </video>
</div>
<div>
    {{ video.date }}<br>

    Watchers Count: {{ video.watchers_count }} <br>

    <!-- Like and dislike buttons -->
    <button type="button" name="action" value="like">Like: {{ likes }}</button>
    <button type="button" name="action" value="dislike">Dislike: {{ dislikes }}</button>
    {% if playlist %}
        <div>
            <label>Select a playlist to add this video:</label>
            <select id="playlist-select">
                {% for playlist in playlist %}
                    <option value="{{ playlist.slug }}">{{ playlist.name }}</option>
                {% endfor %}
            </select>
            <button type="button" id="add-to-playlist-btn">Add to Playlist</button>
        </div>
    {% else %}
        <p>You don't have any playlists yet. <a href="{% url 'create_playlist'  %}">Create one</a></p>
    {% endif %}

    <label>Description: {{ video.description }}</label><br>

    Uploaded By: <a href="/user/videos/{{ video.user.username }}/">{{ video.user.username }}</a>
    <button type="button" name="action" value="follow" id="follow-button">Follow:
        <span id="follow-count">{{ follow_count }}</span>
    </button>

    <br>


</div>
<form id="commentForm" action="/{{ video.name }}/" method="POST">
    {% csrf_token %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="comments-container">
        {% include 'comments_section.html' %}
    </div>
</form>
</body>
</html>