<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% include "top_info.html" %}
<form action="/videos/" method="GET" onsubmit="chooseCategory()">
    <label for="category">Choose filter:</label>
    <select id="category" name="category">
        <option value="A">All</option>
        <option value="E">Entertainments</option>
        <option value="G">Games</option>
        <option value="N">News</option>
    </select>
    <button type="submit">Apply</button>
</form>




{% for video in videos %}
    <h2>{{ video.name }}</h2>

    <div>
        <a href="/video/{{ video.name }}/">
            <img src="{{ video.thumbnail.url }}" width="300" height="150">
        </a>
    </div>

{% endfor %}


<script>
    function chooseCategory() {
        let categoryValue = document.getElementById('category').value;
        document.querySelector('form').action = '/category/' + encodeURIComponent(categoryValue);
    }
</script>
</body>
</html>
